<div class="status-page">
    <div class="alert header" style="background-color: white;">
        <div class="row" style="height: 100%;">
            <div class="col-md-6" style="height: 100%; text-align:left;">
                <img src="assets/images/mfgt_logo.jpg" style="height: 100%;">
            </div>
            <div class="col-md-6">
                <p class="statusUpdateInfo">{{status.last_update_date |date:'dd.MM.yyyy HH:mm'}}, {{status.last_update_by}}</p>
            </div>
        </div>
    </div>
    <div class="alert status" [ngClass]="status.statusColor" style="display: table; width: 100%;">
        <p style="font-size: 13vmin;white-space: wrap;line-height: 1em;"><strong>{{status.statusText}}</strong></p>
        <p style="white-space: pre-wrap; margin: 0;font-size:x-large;font-weight:bolder;background-color:white;color:black; border-radius: 5px;">{{status.message}}</p>
    </div>

    <div [hidden]="!showEvents" class="alert" style="background-color:white; color:black;font-variant: small-caps;">
        <h2 style="text-align: left;font-weight: bold; font-variant: small-caps;font-size: 3vmin">AKTUELLE EVENTS</h2>
        <div style="text-align: left;font-variant: small-caps;">
            Test Test Test
        </div>
    </div>

    <div class="alert temperature" style="background-color:white; color:black;">
        <div>
            <table class="temperaturetable">
                <tr>
                    <td>
                        <img src="assets/images/thermometer.png">
                    </td>
                    <td>
                        <img src="assets/images/humidity.png">
                    </td>
                    <td>
                        <img src="assets/images/pressure.png">
                    </td>
                    <td>
                        <img src="assets/images/wind.png">
                    </td>
                    <td>
                        <img src="assets/images/gusts.png">
                    </td>
                </tr>
                <tr style="font-size: 1.9vmin;">
                    <td>
                        <div>Temperatur</div>
                    </td>
                    <td>
                        <div>Luftfeuchtigkeit</div>
                    </td>
                    <td>
                        <div>Barometer</div>
                    </td>
                    <td>
                        <div>Wind</div>
                    </td>
                    <td>
                        <div>Gusts</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>{{aerodromeweather.Temperature}}</div>
                    </td>
                    <td>
                        <div>{{aerodromeweather.Humidity}}</div>
                    </td>
                    <td>
                        <div>{{aerodromeweather.Pressure}}</div>
                    </td>
                    <td>
                        <div>{{aerodromeweather.WindAngle}}°</div>
                    </td>
                    <td>
                        <div>{{aerodromeweather.GustAngle}}°</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>°C</div>
                    </td>
                    <td>
                        <div>%</div>
                    </td>
                    <td>
                        <div>hPa</div>
                    </td>
                    <td>
                        <div>{{aerodromeweather.WindStrength}}kt</div>
                    </td>
                    <td>
                        <div>{{aerodromeweather.GustStrength}}kt</div>
                    </td>
                </tr>
            </table>
            <h4 class="temperaturetableAktualTime">Letzte aktualisierung {{aerodromeweather.last_update |date:'dd.MM.yyyy HH:mm'}}</h4>
        </div>
    </div>

    <div class="alert reserv" style="background-color:white; color:black;">
        <h2 style="text-align: left;font-weight: bold; font-variant: small-caps;font-size: 3vmin">GEPLANTE FLÜGE&nbsp;&nbsp;<span style="font-size: 2vmin; font-weight: bold;">{{today | date:"dd.MM.yyyy"}}</span></h2>
        <div>
            <div [hidden]="!reservations.showError">
                <h3 style="color: red;margin-top: 5vmin;">{{reservations.error}}</h3>
            </div>
            <table [hidden]="reservations.showError" class=" reservtable ">
                <tr style="background-color: lightgray; ">
                    <th>
                        <div>Flugzeug</div>
                    </th>
                    <th>
                        <div>Von</div>
                    </th>
                    <th>
                        <div>Bis</div>
                    </th>
                    <th>
                        <div>Pilot</div>
                    </th>
                    <th>
                        <div>Ziel</div>
                    </th>
                    <th>
                        <div>Flugtyp</div>
                    </th>
                </tr>
                <tr *ngFor="let reservation of reservations">
                    <td style="white-space:nowrap;">
                        <div style="width:20%;">{{reservation.Registration}}</div>
                    </td>
                    <td>
                        <div>{{reservation.ReservationStart | date:"HH:mm "}}</div>
                        <div style="font-size:small;font-weight: bold;" [hidden]="!reservation.Multidayflight">({{reservation.ReservationStart | date:"dd.MM.yyyy"}})</div>
                    </td>
                    <td>
                        <div>{{reservation.ReservationEnd | date:"HH:mm "}}</div>
                        <div style="font-size:small;font-weight: bold;" [hidden]="!reservation.Multidayflight">({{reservation.ReservationEnd | date:"dd.MM.yyyy"}})</div>
                    </td>
                    <td>
                        <div>{{reservation.Pilot}}</div>
                        <div style="font-size:small;font-weight: bold;" [hidden]="!reservation.Waiting">(Warteliste)</div>
                    </td>
                    <td>
                        <div>{{reservation.Destination}}</div>
                    </td>
                    <td>
                        <div>{{reservation.TypeOfFlight}}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>


</div>