<div class="status-page">
    <div class="alert header" style="background-color: white;">
        <div class="row" style="height: 100%;">
            <div class="col-md-6" style="height: 100%; text-align:left;">
                <img src="assets/images/mfgt_logo.jpg" style="height: 100%;">
            </div>
            <div class="col-md-6">
                <p class="statusUpdateInfo">{{status.last_update_date |date:'dd.MM.yyyy HH:mm'}}, {{status.last_update_by}}</p>
            </div>
        </div>
    </div>
    <div class="alert status" [ngClass]="status.statusColor" style="display: table; width: 100%;">
        <p style="font-size: 14vmin; white-space: nowrap;"><strong>{{status.message}}</strong></p>
        <!-- <p style="margin: 0;">{{status.last_update_date |date:'dd.MM.yyyy HH:mm'}}, {{status.last_update_by}}</p> -->
    </div>

    <div class="alert temperature" style="background-color:white; color:black;">
        <table class="temperaturetable">
            <tr>
                <td>
                    <img src="assets/images/thermometer.png">
                </td>
                <td>
                    <img src="assets/images/humidity.png">
                </td>
                <td>
                    <img src="assets/images/pressure.png">
                </td>
                <td>
                    <img src="assets/images/wind.png">
                </td>
                <td>
                    <img src="assets/images/gusts.png">
                </td>
            </tr>
            <tr style="font-size: 1.9vmin;">
                <td>
                    <div>Temperatur</div>
                </td>
                <td>
                    <div>Luftfeuchtigkeit</div>
                </td>
                <td>
                    <div>QNH</div>
                </td>
                <td>
                    <div>Wind</div>
                </td>
                <td>
                    <div>Gusts</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>{{aerodromeweather.Temperature}}</div>
                </td>
                <td>
                    <div>{{aerodromeweather.Humidity}}</div>
                </td>
                <td>
                    <div>{{aerodromeweather.Pressure}}</div>
                </td>
                <td>
                    <div>{{aerodromeweather.WindAngle}}°</div>
                </td>
                <td>
                    <div>{{aerodromeweather.GustAngle}}°</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>°C</div>
                </td>
                <td>
                    <div>°C</div>
                </td>
                <td>
                    <div>hPa</div>
                </td>
                <td>
                    <div>{{aerodromeweather.WindStrength}}kt</div>
                </td>
                <td>
                    <div>{{aerodromeweather.GustStrength}}kt</div>
                </td>
            </tr>
        </table>
    </div>

    <div class="alert reserv" style="background-color:white; color:black;">
        <h2 style="text-align: left;font-weight: bold; font-variant: small-caps;font-size: 3vmin">GEPLANTE FLÜGE</h2>
        <div>
            <table class=" reservtable ">
                <tr style="background-color: lightgray; ">
                    <th>
                        <div>Flugzeug</div>
                    </th>
                    <th>
                        <div>Von</div>
                    </th>
                    <th>
                        <div>Bis</div>
                    </th>
                    <th>
                        <div>Pilot</div>
                    </th>
                    <th>
                        <div>Ziel</div>
                    </th>
                    <th>
                        <div>Flugtyp</div>
                    </th>
                </tr>
                <tr *ngFor="let reservation of reservations ">
                    <td>
                        <div>{{reservation.Registration}}</div>
                    </td>
                    <td>
                        <div>{{reservation.ReservationStart | date:"HH:mm "}}</div>
                    </td>
                    <td>
                        <div>{{reservation.ReservationEnd | date:"HH:mm "}}</div>
                    </td>
                    <td>
                        <div>{{reservation.Pilot}}</div>
                    </td>
                    <td>
                        <div>{{reservation.Destination}}</div>
                    </td>
                    <td>
                        <div>{{reservation.TypeOfFlight}}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>


</div>