:host {
  display: block;
}

.status-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #222;
  text-align: center;
  color: #fff;
  padding: 20px;
  margin: 0;
}

.status-page .col-lg-4 {
  padding: 0;
}

.statusUpdateInfo {
  margin: 0;
  color: #013763;
  position: absolute;
  bottom: 0;
  right: 0;
}

.alert {
  margin-bottom: 10px;
}

.header {
  height: 15%;
  background-color: white;
}

.status {
  height: 30%;
}

.temperature {
  height: 20%;
}

.reserv {
  height: calc(100% - (15% + 30% + 20% + 30px));
}

.reservtable {
  border-collapse: initial;
  border-spacing: 0;
  width: 100%;
  font-size: 2.5vmin;
}

.reservtable td div {
  text-align: left;
  padding-right: 50px;
}
